@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Emilys+Candy&family=Fleur+De+Leah&family=Markazi+Text:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Electrolize&family=Emilys+Candy&family=Fleur+De+Leah&family=Markazi+Text:wght@400..700&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Electrolize&family=Emilys+Candy&family=Fleur+De+Leah&family=Markazi+Text:wght@400..700&family=Oleo+Script:wght@400;700&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.Orbitron {
  font-family: "Orbitron", sans-serif,
}
.font-roboto{
    font-family: "Electrolize", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}